{% extends "layout.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<script>
    function logout() {
        window.location.href = "/logout";
    }
</script>


<h1>Account</h1>
<div>
    <span>Name: </span><span>{{ username }}</span>
    <br>
    <span>UserId: </span><span>{{ id }}</span>
    <br>
    <span>
        API Key:
        {%if key %}
            <code>
            {{ key }}
            </code>
            <button onclick="navigator.clipboard.writeText('{{ key }}')">copy</button>
            <button onclick="window.location.href='/account?key=False'">hide</button>
        {% else %}
            <button onclick="window.location.href='/account?key=True'">show</button>
            <form action="/apikey-create" method="post">
                <input type="submit" value="generate">
            </form>
       {% endif %}
        <form action="/apikey-delete" method="post">
            <input type="submit" value="delete">
        </form>
    </span>
</div>
<form action="/resetpass" method="post">
    {% if passfail %}
    <div>
        Wrong password or passwords do not match.
    </div>
    {% endif %}
    <h3>Reset password</h3>
    <label>old password</label>
    <input type="password" name="opass">
    <br>
    <br>
    <label>new password</label>
    <input type="password" name="npass">
    <br>
    <br>
    <label>retype password</label>
    <input type="password" name="rpass">
    <br>
    <br>
    <input type="submit" value="reset">
</form>
<br>
<br>
<br>
<button onclick="logout()">Logout</button>
{% endblock %}
