{% extends "layout.html" %}
{% block title %}Account{% endblock %}
{% block content %}
<script>
    function logout() {
        window.location.href = "/logout";
    }
</script>


<h1>Account</h1>
<div class="tsync-box">
    <div>
        <span>Name: </span><span>{{ username }}</span>
    </div>
    <div>
        <span>UserId: </span><span>{{ id }}</span>
    </div>
    <div>
    <span>
        API Key:
        {%if key %}
            <code class="token">
            {{ key }}
            </code>
            <div class="flex">
            <button class="tsync-btn-secondary" onclick="window.location.href='/account?key=False'">hide</button>
            <button class="tsync-btn-primary" onclick="navigator.clipboard.writeText('{{ key }}')">copy</button>
        {% else %}
            <div class="flex">
            <button class="tsync-btn-secondary" onclick="window.location.href='/account?key=True'">show</button>
            <form action="/apikey-create" method="post">
                <input class="tsync-btn-primary" type="submit" value="generate">
            </form>
       {% endif %}
        <form action="/apikey-delete" method="post">
            <input class="tsync-btn-primary btn-danger" type="submit" value="delete">
        </form>
        </div>
    </span>
    </div>
</div>
<br>
<div class="tsync-box">
    <form action="/resetpass" method="post">
        <h3>Reset password</h3>
        {% if passfail %}
        <div class="danger-text">
            <p>Wrong password or passwords do not match.</p>
        </div>
        {% endif %}
 
       <div class="form-group">
            <label>old password</label>
            <input type="password" name="opass">
        </div>
        <div class="form-group">
            <label class="">new password</label>
            <input type="password" name="npass">
        </div>
        <div class="form-group">
            <label>retype password</label>
            <input type="password" name="rpass">
        </div>
       <div class="flex">
            <input class="tsync-btn-primary btn-danger long-btn" type="submit" value="reset">
        </div>
    </form>
</div>
<br>
<br>
<div class="flex">
    <button class="tsync-btn-primary btn-danger ma" onclick="logout()">Logout</button>
</div>
{% endblock %}
