{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="content">
    <div class="box upload-box">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div class="error">
            {% for message in messages %}
                <h4>Error</h4>
                <p>{{ message }}</p>
            {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <form method="post" enctype="multipart/form-data" action="/upload">
            <h3>Test Upload</h3>
            <div id="drop-zone"
                  ondrop="dropHandler(event);"
                  ondragover="dragOverHandler(event);">
                <p>Drag one or more files to this <i>drop zone</i>.</p>
            </div>

           <input id="fileinp" class="btn-secondary" type="file" name="file" accept=".html, .htm" />
            <br>
            <br>
            <input class="upload-button btn-primary" type="submit" value="Upload" />
       </form>
    </div>
    <div class="box history">
        <h3>History</h3>
        <ul>
            {% for test in hist %}
                <li class="hist-item">
                    <a class="button-link" href="{{ '/test/'+test[0] }}" >{{ test[1] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


<script src="/static/dad.js"></script>
{% endblock %}
