{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div>
    <div class="tsync-box login-box">
        <h3>Login</h3>
        <form method="post" action="/login">
            {% if invalid %}
            <div class="danger-text">
                <p>Password or username is incorrect</p>
            </div>
            {% endif %}
            <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" required>
            </div>
            <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" required>
            </div>
            <button class="tsync-btn-primary long-btn" type="submit">Sign In</button>
        </form>
    </div>
</div>
{% endblock %}
