{% extends "layout.html" %}
{% block title %}Tampermonkey{% endblock %}
{% block content %}
<h1>Tampermonkey</h1>
<div>
    You can use a tampermonkey script to upload the test directly from moodle.
    <br>
    To use the script do the following:
    
    <ol>
        <li>Download the <a href="http://tampermonkey.net/">tampermonkey</a> extension if you haven't already. Available on <a href="https://addons.mozilla.org/en-US/firefox/addon/tampermonkey/">firefox</a> or <a href="https://chromewebstore.google.com/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo">Chrome</a>.</li>
        <li>Click this <a href="/tsync.user.js">link</a> to download the script.</li>
        <li>Open a test in moodle. If the script is active, a few buttons in the bottom left corner should have appeared.</li>
        <li>Add your api-key (by pressing the corresponding button). You can create an api-key in your tsync account settings.</li>
        <li>If everything worked, pressing the update button in moodle should now update the test in tsync.</li>
    </ol>
</div>
<div class="tsync-warning-text">
    <h3>
        Warning
    </h3>
    <p>
        If you are using a chromium based browser you need to enable userscripts for tamper monkey.
        <ol>
            <li>Go to Extension Management</li>
            <li>Find Tampermonkey and click "Details"</li>
            <li>Enable "Allow user scripts"</li>
        </ol>
    </p>
</div>
{% endblock %}
