{% extends "layout.html" %}

{% block title %}Test{% endblock%}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<h2>{{ test.ttype + " - " + test.name }}</h2>
<div class="questions">
    {% for idx0, tq in enumerate(test.q) %}
    <div class="top-question">
        <p><span>{{ tq.html_h|safe }}</span></p>
        <div>
            {% for idx1, q in enumerate(tq.q) %}
            <div class="question">
                <span><span>{{ idx0 + 1 }}.{{ idx1 + 1 }}</span><span>{{ q.html_q | safe }}</span></span>
                <span class="q-input">
                    <div class="answer"><span class="answer-value">{{ q.a | safe }}</span><span>{{ q.others[q.a] }}</span></div>
                    {% for key in q.others %}
                    {% if key != q.a %}
                    <div class="other">
                        <span style="color: {{ 'blue' if key == q.a else 'red' }};">{{ key | safe }}: </span>
                        <span>{{ q.others[key] }}</span>
                    </div>
                    {% endif %}
                    {% endfor %}
                </span>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
